.btn {
  max-width: 20rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2.125rem;
  cursor: pointer;
  padding: 0.875rem 0;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 55.625em) {
  .btn {
    max-width: 12.5rem;
    font-size: 1rem;
  }
}
.btn:hover {
  transform: scale(1.025) translateY(-1px);
}
.btn-primary {
  background-color: var(--primary-cyan);
  box-shadow: 0 3px 3px hsl(171, 55%, 25%);
}
.btn-primary:hover {
  background-color: hsla(171, 66%, 44%, 0.8);
}
.btn-secondary {
  background-color: var(--secondary-blue);
  box-shadow: 0 3px 3px hsl(233, 41%, 43%);
}
.btn-secondary:hover {
  background-color: hsla(233, 100%, 69%, 0.8);
}

/**Primarios*/
/*Neutral*/
:root {
  --primary-cyan: hsl(171, 66%, 44%);
  --secondary-blue: hsl(233, 100%, 69%);
  --neutral-dark-grayish-blue: hsl(210, 10%, 33%);
  --neutral-grayish-blue: hsl(201, 11%, 66%);
  --neutral-gray: hsl(220, 18%, 97%);
  --font-family: "Open Sans", "Poppins", arial;
  --fz-sm: 16px;
  --fz-md: 18px;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: normal;
  font-family: var(--font-family);
  min-height: 100vh;
  font-size: var(--fz-sm);
  text-rendering: optimizeSpeed;
  font-family: "Bai Jamjuree", sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

/*remove blue background when clicking*/
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/*img*/
img,
picture {
  max-width: 100%;
  display: block;
}

/*Flex*/
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-fw-w {
  flex-wrap: wrap;
}

.none {
  display: none;
}

.wrapper {
  padding: 0 1.875rem;
}

.text {
  color: var(--neutral-grayish-blue);
  line-height: 1.7;
  text-align: center;
}

.title {
  color: var(--neutral-dark-grayish-blue);
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 1.5rem;
}

.subtitle {
  color: var(--neutral-dark-grayish-blue);
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 0.75rem;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  padding-top: 6.25rem;
  position: relative;
}
.container .header {
  padding: 2.5rem 0 1.25rem;
}
.container .header-brand > img {
  margin: auto;
}
.container::before {
  content: "";
  background-image: url("../images/bg-header-mobile.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
@media only screen and (min-width: 55.625em) {
  .container::before {
    background-image: url("../images/bg-header-desktop.png");
  }
}

.main {
  display: grid;
  gap: 10.5rem;
}

.hero {
  text-align: center;
}
.hero-content {
  padding: 3.125rem 0;
  max-width: 41.875rem;
  margin: auto;
}
@media only screen and (min-width: 55.625em) {
  .hero-content .title {
    font-size: 2.2em;
  }
}
.hero-buttons {
  gap: 1rem;
}
@media only screen and (min-width: 55.625em) {
  .hero-buttons {
    flex-direction: initial;
    justify-content: center;
    gap: 1.25rem;
  }
}

.snippets-intro {
  max-width: 41.875rem;
  margin: auto;
}
@media only screen and (min-width: 55.625em) {
  .snippets-intro {
    padding-bottom: 5.125rem;
  }
}
.snippets-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6.875rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 55.625em) {
  .snippets-content {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 -1.875rem;
  }
}
@media only screen and (min-width: 55.625em) {
  .snippets .title {
    font-size: 1.9em;
  }
}
.snippets-computer {
  padding: 4rem 0;
  grid-column: 1/-1;
}
@media only screen and (min-width: 55.625em) {
  .snippets-computer {
    padding: 0;
    grid-column: 1/2;
  }
}
.snippets-descriptions {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  grid-column: 1/-1;
}
@media only screen and (min-width: 55.625em) {
  .snippets-descriptions {
    justify-content: center;
    max-width: 22.125rem;
    grid-column: 2/-1;
  }
  .snippets-descriptions * {
    text-align: left;
  }
}

.access {
  max-width: 41.875rem;
  margin: auto;
}
.access-img {
  padding-top: 4rem;
}
@media only screen and (min-width: 55.625em) {
  .access-img {
    padding-top: 7rem;
    margin-bottom: -4.25rem;
  }
}

.workflow {
  max-width: 90rem;
  margin: auto;
}
.workflow-intro {
  padding-bottom: 5.375rem;
  max-width: 41.875rem;
  margin: auto;
}
.workflow-details {
  gap: 3.125rem;
}
@media only screen and (min-width: 55.625em) {
  .workflow-details {
    flex-direction: initial;
    gap: 5.625rem;
  }
}
.workflow-details-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 55.625em) {
  .workflow-details-control {
    max-width: 21.875rem;
    margin: auto;
  }
}
.workflow-details-control .subtitle {
  padding: 2.5rem 0 1.25rem;
}

.enterprises {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
@media only screen and (min-width: 55.625em) {
  .enterprises {
    flex-direction: initial;
    gap: 6.25rem;
  }
  .enterprises img {
    width: 10.9375rem;
  }
}

.abstract {
  padding-bottom: 10.25rem;
  max-width: 41.875rem;
  margin: auto;
}
.abstract-buttons {
  gap: 1rem;
  padding-top: 2.875rem;
}
@media only screen and (min-width: 55.625em) {
  .abstract-buttons {
    flex-direction: initial;
    justify-content: center;
  }
}

footer {
  background-color: var(--neutral-gray);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.875rem;
  padding: 3rem 1.875rem;
  max-width: 90rem;
  margin: auto;
}
@media only screen and (min-width: 55.625em) {
  .footer {
    flex-direction: initial;
    justify-content: space-between;
  }
}
.footer-brand > img {
  width: 3.5rem;
  height: 3.5rem;
}
@media only screen and (min-width: 55.625em) {
  .footer-brand > img {
    width: 4.5em;
    height: 4.5em;
  }
}
.footer-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.75rem;
  text-align: center;
}
@media only screen and (min-width: 55.625em) {
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    text-align: left;
    gap: 1.5rem;
    column-gap: 5rem;
  }
  .footer-list li:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer-list li:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer-list li:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer-list li:nth-child(5) {
    grid-column: 3/-1;
    grid-row: 1/2;
  }
}
.footer-list a {
  color: var(--neutral-dark-grayish-blue);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
.footer-list a:hover {
  color: var(--primary-cyan);
}
.footer .footer-networks {
  display: flex;
  gap: 2.25rem;
}
.footer .footer-networks a img {
  transition: all 300ms ease-in-out;
}
.footer .footer-networks a img:hover {
  filter: brightness(175%) saturate(850%);
}

/*# sourceMappingURL=index.css.map */
