/**Primarios*/
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);

/*Neutral*/
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);

$colors: (
  primary-pink: $pink,
  light-pink: $light-pink,
  light-red: $light-red,
  very-dark-cyan: $very-dark-cyan,
  very-pale-blue: $very-pale-blue,
);
