/**Primarios*/
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

/*Neutral*/
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$gray: hsl(220, 18%, 97%);

$colors: (
  primary-cyan: $strong-cyan,
  secondary-blue: $light-blue,
  neutral-dark-grayish-blue: $dark-grayish-blue,
  neutral-grayish-blue: $grayish-blue,
  neutral-gray: $gray,
);
