@use "../util" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(46);
  padding: rem(48) 0;
  background-color: var(--neutral-gray);

  &-brand > img {
    width: rem(56);
    height: rem(56);
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(28);
    text-align: center;

    & a {
      color: var(--neutral-dark-grayish-blue);
      text-decoration: none;
    }
  }

  .footer-networks {
    display: flex;
    gap: rem(36);
  }
}
